<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Caffeine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Caffeine.Properties.Settings>
            <setting name="KeyValue" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>key values = https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.keys?view=windowsdesktop-6.0. The default if F15</value>
            </setting>
            <setting name="TimerIntervalSeconds" serializeAs="String">
                <value>120</value>
            </setting>
        </Caffeine.Properties.Settings>
    </applicationSettings>
</configuration>